<h1>{{title}}</h1> <!--viene de app.component.ts-->
<!-- <hr>
<p>Counter en app.component</p> -->
<h3>Counter: {{counter}} </h3> <!--viene de app.component.ts-->
<button (click)="increaseBy(1)">+1</button> <!--viene del metodo increaseBy en la clase appComponent -->
<button (click)="reset()">Reset</button>
<button (click)="increaseBy(-1)">-1</button>


<!-- <app-counter></app-counter> hay que añadirlo a app.module.ts para poder usarlo aqui-->
<!-- <app-counter></app-counter> se pueden tener varios independientes -->
<!-- <app-heroes-hero></app-heroes-hero>
<app-heroes-list></app-heroes-list> -->
<app-dbz-main-page></app-dbz-main-page>
